.node {
    display: inline-block;
    min-height: 100px;
    width: 410px;
    /* If we don't add any border now the elements
       will move around when we add one later */
    border-width: 5px;
    border-style: solid;
    border-color: white;
}

#node0  { background-color: #f99; }
#node1  { background-color: #9f9; }
#node2  { background-color: #99f; }
#node3  { background-color: #9ff; }
#node4  { background-color: #f9f; }
#node5  { background-color: #ff9; }
#node6  { background-color: #fcc; }
#node7  { background-color: #cfc; }
#node8  { background-color: #ccf; }
#node9  { background-color: #cff; }
#node10 { background-color: #fcf; }
#node11 { background-color: #ffc; }
#node12 { background-color: #f55; }
#node13 { background-color: #5f5; }
#node14 { background-color: #55f; }
#node15 { background-color: #5ff; }
#node16 { background-color: #f5f; }
#node17 { background-color: #ff5; }

.being-read {
    border-color: green;
}

.being-written {
    border-color: red;
}

.coordinating {
    font-weight: bold;
}

/* don't change the border for decommissioned nodes */
.decommissioned.being-read, .decommissioned.being-written {
    border-color: white;
}

/* Using #node-container is a hack to override other id selectors */
#node-container .decommissioned {
    background-color: grey;
}